.underconst_container {
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
    gap: 10px; /* Adds space between the images and text */
    margin: 0;
    padding: 0;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align to bottom */
}

.image {
    width: 100px;
    height: 100px;
}
